<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAME</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/game.css">


    <script src="https://use.fontawesome.com/50b639c4f5.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <!-- Navbar -->
    <div class="container navbar">
        <div class="item-nav-1 me-4">
            <a href="/">&lt;</a>
        </div>
        <div class="item-nav-2 me-4">
            <img src="assets/logo.png" alt="">
        </div>
        <div class="item-nav-3">
            <span>ROCK PAPER SCISSORS</span>
        </div>
    </div>

    <!-- Content -->
    <div class="container my-5">
        <div class="d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column w-300 align-items-center">
                <span class="text-title">PLAYER 1</span>
                <div class="box-item" id="batu-player"><img class="img-fluid" onclick="game('batu')" src="assets/batu.png" alt="" style="width: 128px; height: 92px;"></div>
                <div class="box-item" id="kertas-player"><img class="img-fluid" onclick="game('kertas')" src="assets/kertas.png" alt="" style="width: 115px; height: 150px;"></div>
                <div class="box-item" id="gunting-player"><img class="img-fluid" onclick="game('gunting')" src="assets/gunting.png" alt="" style="width: 134px; height: 160px;"></div>
            </div>
            <div class="d-flex flex-column w-300" id="result">
                <span class="text-vs">VS</span>
            </div>
            <div class="d-flex flex-column w-300 align-items-center">
                <span class="text-title">COM</span>
                <div class="box-item" id="batu-komputer"><img class="img-fluid" src="assets/batu.png" alt="" style="width: 128px; height: 92px;"></div>
                <div class="box-item" id="kertas-komputer"><img class="img-fluid" src="assets/kertas.png" alt="" style="width: 115px; height: 150px;"></div>
                <div class="box-item" id="gunting-komputer"><img class="img-fluid" src="assets/gunting.png" alt="" style="width: 134px; height: 160px;"></div>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <img src="assets/refresh.png" alt="" style="width: 77px; height: 71px;" class="btn-refresh" onclick="location.reload()">
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="JS/game.js"></script>
</body>
</html>
