<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <links
      href="https://cdn.jsdelivr.net/npm/@mdi/font@5.9.55/css/materialdesignicons.min.css"
      rel="stylesheet"
    />

    <link href="css/index.css" rel="stylesheet" />

    <title>Traditional Game</title>
  </head>
  <body data-aos-duration="400">
    <nav
      class="
        navbar navbar--traditional navbar-expand-lg navbar-dark
        bg-traditional-dark bg-opacity-50
        fixed-top
        fw-bold
        p-4
        px-xl-5
      "
    >
      <div class="container-fluid px-4">
        <a class="navbar-brand" href="#">Logo</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Work</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About Me</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="signup">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="signin">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section
      id="main"
      class="section-100 text-light section--main d-flex flex-column"
    >
      <div class="jumbotron text-center font-monotype flex-fill center">
        <h1 data-aos="fade-up" class="text-uppercase display-1 fw-bold">
          Play Traditional Game
        </h1>
        <h3 data-aos="fade-up" data-aos-delay="100" class="my-4">
          Experience new traditional game play
        </h3>
        <button onclick="location.href = '/game';" data-aos="fade-up" data-aos-delay="200" class="text-uppercase mt-4 btn-main btn-lg btn-warning fw-bold font-typeface rounded">Play Now</button>  
        </div>

      <div class="text-center center mb-4">
        <a
          class="the-story text-light text-decoration-none fw-bold"
          href="#speciality"
        >
          <div class="text-uppercase">The Story</div>
          <span class="mdi mdi-chevron-down"></span>
        </a>
      </div>
    </section>

    <section
      id="speciality"
      class="section-100 text-light section--speciality center"
    >
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-5">
            <div class="p-4">
              <h3 data-aos="fade-right">What's so special?</h3>
              <h1
                class="display-3 text-uppercase"
                data-aos="fade-right"
                data-aos-delay="100"
              >
                The Games
              </h1>
            </div>
          </div>

          <div class="col-12 col-lg-7">
            <div
              id="carouselSpeciality"
              class="carousel slide my-4 carousel-speciality"
              data-bs-ride="carousel"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <div class="carousel-indicators">
                <button
                  type="button"
                  data-bs-target="#carouselSpeciality"
                  data-bs-slide-to="0"
                  class="active mx-2 mx-lg-4"
                  aria-current="true"
                  aria-label="Slide 1"
                ></button>
                <button
                  type="button"
                  class="mx-2 mx-lg-4"
                  data-bs-target="#carouselSpeciality"
                  data-bs-slide-to="1"
                  aria-label="Slide 2"
                ></button>
                <button
                  type="button"
                  class="mx-2 mx-lg-4"
                  data-bs-target="#carouselSpeciality"
                  data-bs-slide-to="2"
                  aria-label="Slide 3"
                ></button>
                <button
                  type="button"
                  class="mx-2 mx-lg-4"
                  data-bs-target="#carouselSpeciality"
                  data-bs-slide-to="3"
                  aria-label="Slide 4"
                ></button>
                <button
                  type="button"
                  class="mx-2 mx-lg-4"
                  data-bs-target="#carouselSpeciality"
                  data-bs-slide-to="4"
                  aria-label="Slide 5"
                ></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="assets/rockpaperstrategy-1600.png"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="assets/rockpaperstrategy-1600.png"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="assets/rockpaperstrategy-1600.png"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="assets/rockpaperstrategy-1600.png"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="assets/rockpaperstrategy-1600.png"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselSpeciality"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselSpeciality"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      id="feature"
      class="section-100 text-light section--feature center"
    >
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-5 offset-lg-7">
            <h3 data-aos="fade-right">What's so special?</h3>
            <h1
              class="display-3 text-uppercase mb-4"
              data-aos="fade-right"
              data-aos-delay="100"
            >
              Features
            </h1>

            <div class="timeline">
              <ul>
                <li class="active">
                  <div class="pb-4 px-4 mx-4" data-aos="fade-up">
                    <h3 class="text-warning text-uppercase mb-4">
                      Traditional Games
                    </h3>
                    <h5 class="pb-4" data-aos="fade-up" data-aos-delay="300">
                      If you miss your childhood, we provide many traditional
                      games here
                    </h5>
                  </div>
                </li>
                <li>
                  <div
                    class="pb-4 px-4 mx-4"
                    data-aos="fade-up"
                    data-aos-delay="600"
                  >
                    <h3 class="text-warning text-uppercase mb-4">Game Suit</h3>
                  </div>
                </li>
                <li>
                  <div
                    class="pb-4 px-4 mx-4"
                    data-aos="fade-up"
                    data-aos-delay="900"
                  >
                    <h3 class="text-warning text-uppercase mb-4">TBD</h3>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      id="requirements"
      class="section-100 text-light section--requirements center"
    >
      <div class="d-flex flex-column w-100">
        <div class="container-fluid text-center flex-fill py-4 my-4">
          <h5 data-aos="fade-up">Can My Computer Run This Game?</h5>
        </div>

        <div class="container-fluid flex-fill">
          <div class="row">
            <div class="col-12 col-lg-8 col-xl-7 col-xxl-5">
              <div class="p-4">
                <div class="container">
                  <h1
                    class="text-uppercase display-4 my-4 py-4 display-md-2"
                    data-aos="fade-up"
                  >
                    System<br />Requirements
                  </h1>
                  <div class="row" data-aos="fade-up">
                    <div class="col-12 col-md-6 border border-dark">
                      <div class="p-4">
                        <h2 class="text-warning">OS:</h2>
                        <h5>
                          Windows 7 64-bit only (No OSX support at this time)
                        </h5>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 border border-dark">
                      <div class="p-4">
                        <h2 class="text-warning">PROCESSOR:</h2>
                        <h5>
                          Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ
                        </h5>
                      </div>
                    </div>
                  </div>
                  <div class="row" data-aos="fade-up">
                    <div class="col-12 col-md-6 border border-dark">
                      <div class="p-4">
                        <h2 class="text-warning">MEMORY:</h2>
                        <h5>4 GB RAM</h5>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 border border-dark">
                      <div class="p-4">
                        <h2 class="text-warning">STORAGE:</h2>
                        <h5>8 GB available space</h5>
                      </div>
                    </div>
                  </div>
                  <div class="row" data-aos="fade-up">
                    <div class="col-12 border border-dark">
                      <div class="p-4">
                        <h2 class="text-warning">MEMORY:</h2>
                        <h5>
                          NVIDIA GeForce GTX 660 2GB or<br />AMD Radeon HD 7850
                          2GB DirectX11 (Shader Model 5)
                        </h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="score" class="section-100 text-light section--score center">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-4 center">
            <h1 class="my-4 text-uppercase display-3" data-aos="fade-up">
              Top Scores
            </h1>
            <div>
              <h5 class="my-4" data-aos="fade-up" data-aos-delay="300">
                This top score from various games provided on this platform
              </h5>
            </div>

            <button
              class="
                btn btn-warning btn-main-secondary btn-lg
                text-uppercase
                fw-bold
                my-4
              "
              data-aos="fade-up"
              data-aos-delay="300"
            >
              See More
            </button>
          </div>

          <div class="col-12 col-lg-8">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 col-lg-10 offset-lg-2">
                  <div
                    class="
                      container
                      bg-dark
                      text-light
                      score-card
                      rounded-3
                      px-4
                      py-4
                      my-4
                    "
                    data-aos="fade-up"
                  >
                    <div
                      class="
                        d-flex
                        flex-column flex-md-row
                        align-items-center align-items-md-start
                        py-4
                      "
                    >
                      <div class="avatar--traditional">
                        <img
                          class="avatar-image"
                          src="assets/quote-1.png"
                          alt="Quote 1"
                        />
                        <div class="avatar-overlay bg-warning"></div>
                      </div>
                      <div
                        class="
                          container-fluid
                          w-100
                          text-nowrap
                          flex-fill
                          text-center text-md-start
                          py-4
                          px-4
                          mx-4
                          py-md-0
                        "
                      >
                        <h2 class="text-warning mb-0">Evan Lahti</h2>
                        <h5 class="text-secondary">PC Gamer</h5>
                      </div>
                      <div>
                        <span class="mdi mdi-twitter text-secondary"></span>
                      </div>
                    </div>
                    <h5>“One of my gaming highlights of the year.”</h5>
                    <h6 class="text-secondary">June 18, 2021</h6>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12 col-lg-10">
                  <div
                    class="
                      container
                      bg-dark
                      text-light
                      score-card
                      rounded-3
                      px-4
                      py-4
                      my-4
                    "
                    data-aos="fade-up"
                    data-aos-delay="300"
                  >
                    <div
                      class="
                        d-flex
                        flex-column flex-md-row
                        align-items-center align-items-md-start
                        py-4
                      "
                    >
                      <div class="avatar--traditional">
                        <img
                          class="avatar-image"
                          src="assets/quote-2.png"
                          alt="Quote 1"
                        />
                        <div class="avatar-overlay bg-warning"></div>
                      </div>
                      <div
                        class="
                          container-fluid
                          w-100
                          text-nowrap
                          flex-fill
                          text-center text-md-start
                          py-4
                          px-4
                          mx-4
                          py-md-0
                        "
                      >
                        <h2 class="text-warning mb-0">Jada Griffin</h2>
                        <h5 class="text-secondary">Nerdreactor</h5>
                      </div>
                      <div>
                        <span class="mdi mdi-twitter text-secondary"></span>
                      </div>
                    </div>
                    <h5>
                      “The next big thing in the world of streaming and survival
                      games.”
                    </h5>
                    <h6 class="text-secondary">July 10, 2021</h6>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-lg-10 offset-lg-2">
                  <div
                    class="
                      container
                      bg-dark
                      text-light
                      score-card
                      rounded-3
                      px-4
                      py-4
                      my-4
                    "
                    data-aos="fade-up"
                  >
                    <div
                      class="
                        d-flex
                        flex-column flex-md-row
                        align-items-center align-items-md-start
                        py-4
                      "
                    >
                      <div class="avatar--traditional">
                        <img
                          class="avatar-image"
                          src="assets/quote-3.png"
                          alt="Quote 3"
                        />
                        <div class="avatar-overlay bg-warning"></div>
                      </div>
                      <div
                        class="
                          container-fluid
                          w-100
                          text-nowrap
                          flex-fill
                          text-center text-md-start
                          py-4
                          px-4
                          mx-4
                          py-md-0
                        "
                      >
                        <h2 class="text-warning mb-0 text-wrap">
                          Aaron Williams
                        </h2>
                        <h5 class="text-secondary">Uproxx</h5>
                      </div>
                      <div>
                        <span class="mdi mdi-twitter text-secondary"></span>
                      </div>
                    </div>
                    <h5>
                      “Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is
                      Ridiculous.”
                    </h5>
                    <h6 class="text-secondary">December 24, 2018</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      id="newsletter"
      class="section--newsletter section-80 center text-light"
    >
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-4">
            <img src="assets/newsletter-bg.png" class="newsletter-image" />
          </div>
          <div class="col-12 col-lg-8">
            <div class="container-fluid">
              <h3 data-aos="fade-up">Want to stay in touch?</h3>
              <h1 class="text-uppercase display-1 mb-4" data-aos="fade-up">
                Newsletter Subscribe
              </h1>
              <h5 class="my-4" data-aos="fade-up">
                In order to start receiving our news, all you have to do is
                enter your email address. Everything else will be taken care of
                by us. We will send you emails containing information about
                game. We don’t spam.
              </h5>
              <div class="row mt-4 py-4">
                <div class="col-12 col-md-7">
                  <div
                    class="newsletter-email-container bg-dark py-1 px-4 rounded"
                    data-aos="fade-up"
                    data-aos-delay="300"
                  >
                    <label for="email" class="text-secondary"
                      >Your email address</label
                    >
                    <input
                      id="email"
                      autocomplete="off"
                      name="email"
                      type="email"
                      placeholder="your email"
                      class="h5 text-warning w-100"
                    />
                  </div>
                </div>
                <div class="col-12 col-md-5 my-4 my-md-0">
                  <button
                    data-aos="fade-up"
                    data-aos-delay="300"
                    class="
                      btn btn-warning btn-lg
                      fw-bold
                      w-100
                      py-3 py-md-2
                      px-4
                      h-100
                      rounded
                    "
                  >
                    Subscribe Now
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer id="footer" class="section--footer section-25 section-md-0 center">
      <div class="container center">
        <div
          class="
            row
            text-uppercase
            fw-bold
            w-100
            justify-content-center
            align-items-center
          "
        >
          <div
            class="
              col-12 col-md
              d-flex
              flex-column flex-md-row
              justify-content-center
            "
          >
            <a class="footer-link text-center px-4 py-4" href="#main">Main</a>
            <a class="footer-link text-center px-4 py-4" href="#speciality"
              >About</a
            >
            <a class="footer-link text-center px-4 py-4" href="#feature"
              >Game Features</a
            >
            <a class="footer-link text-center px-4 py-4" href="#requirements"
              >System Requirements</a
            >
            <a class="footer-link text-center px-4 py-4" href="#score"
              >Quotes</a
            >
          </div>
          <div
            class="
              col-12 col-md-4
              d-flex
              justify-content-center
              align-items-center
            "
          >
            <a
              class="footer-link p-4"
              href="https://facebook.com"
              target="_blank"
            >
              <img src="assets/facebook.svg" alt="facebook.com" />
            </a>
            <a
              class="footer-link p-4"
              href="https://twitter.com"
              target="_blank"
            >
              <img src="assets/twitter.svg" alt="twitter.com" />
            </a>
            <a
              class="footer-link p-4"
              href="https://youtube.com"
              target="_blank"
            >
              <img src="assets/youtube.svg" alt="youtube.com" />
            </a>
            <a class="footer-link p-4" href="https://twitch.tv" target="_blank">
              <img src="assets/twitch.svg" alt="twitch.tv" />
            </a>
          </div>
        </div>
        <hr class="container footer-divider" />
        <div
          class="
            mt-2
            mb-4
            container
            d-flex
            flex-column flex-md-row
            justify-content-md-between
            align-items-center
          "
        >
          <h6 class="text-secondary p-2">
            © 2018 Your Games, Inc. All Rights Reserved
          </h6>
          <h6 class="text-uppercase text-light fw-bold p-2">
            Privacy Policy | Terms of Services | Code of Conduct
          </h6>
        </div>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>