@import url("https://fonts.googleapis.com/css2?family=David+Libre:wght@400;700&family=Open+Sans:wght@400;700&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}
/* Navbar */
.navbar--traditional {
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.navbar--traditional .navbar-brand {
  font-size: 2rem;
  line-height: 32px;
}

.navbar--traditional .nav-item {
  line-height: 16px;
  padding-left: 1em;
  padding-right: 1em;
}

.navbar--traditional .nav-link {
  color: var(--bs-white);
}

/* Main Section */
.section--main {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0)
    ),
    url("../../assets/main-bg.jpg");
  background-size: cover;
}

/* Speciality Section */
.section--speciality {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("../../assets/the-games-bg.jpg");
  background-size: cover;
}

.carousel-speciality .carousel-indicators button {
  border: 2px solid white;
  border-radius: 100% ;
  height: 0.6em;
  width: 0.6em;
  background: none;
}

.carousel-speciality .carousel-indicators .active {
  background: white;
}

/* Feature Section */

.section--feature {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    url("../../assets/features.jpg");
  background-size: cover;
}

.timeline {
  position: relative;
}

.timeline ul li.active::before {
  content: "";
  position: absolute;
  top: 8px;
  height: 100%;
  width: 2px;
  background-color: white;
  display: inline-block;
}

.timeline ul {
  list-style-type: none;
}

.timeline ul li {
  position: relative;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  border: solid 2px white;
  border-radius: 100%;
  top: 16px;
  left: 0px;
  transform: translate(-50%, -50%);
}

.timeline ul li.active::after {
  background-color: white;
}

/* Requirements Section */
.section--requirements {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0)
    ),
    url("../../assets/requirements.jpg");
  background-size: cover;
}

/* Score Section */
.section--score {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(
      to left,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0)
    ),
    url("../../assets/score-bg.jpg");
  background-size: cover;
}

.score-card {
  min-width: 75%;
}

.avatar--traditional {
  position: relative;
}

.avatar--traditional .avatar-image {
  position: relative;
}

.avatar--traditional .avatar-image,
.avatar--traditional .avatar-overlay {
  border-radius: 100%;
  height: 6rem;
  width: 6rem;
  z-index: 3;
}

.avatar--traditional .avatar-overlay {
  z-index: 0;
  position: absolute;
  top: 5%;
  left: 10%;
}

/* Newsletter Section */
.section--newsletter {
  background-color: black;
}

.newsletter-image {
  mask: radial-gradient(farthest-side, white, black) luminance;
}

.newsletter-email-container input {
  border: none;
  background: none;
}

.newsletter-email-container input:focus {
  outline: none;
}

/* Footer Section */

.section--footer {
  background: black;
}

.section--footer .footer-link {
  text-decoration: none;
  color: rgb(var(--bs-light-rgb));
  font-size: 1rem;
  min-width: max-content;
}

.footer-divider {
  height: 2px ;
  width: 100%;
  background-color: rgba(var(--bs-secondary-rgb), 1);
}

.privacy-policy-container {
  position: relative;
  margin: 1em;
  overflow: hidden;
}

.privacy-policy-container ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -1px;
  list-style-type: none;
}

.privacy-policy-container li:first-child {
  border: none;
}

.privacy-policy-container li {
  flex-grow: 1;
  flex-basis: auto;
  text-align: center;
  border-left: 2px solid rgb(var(--bs-light-rgb));
}

:root {
  --bs-warning: #ffb548;
  --bs-yellow: #ffb548;
  --bs-warning-rgb: 255, 181, 72;
  --bs-dark: #1b1d1e;
  --bs-dark-rgb: 27, 29, 30;
}

.btn-warning {
  background-color: var(--bs-warning);
  border-color: var(--bs-warning);
}

.section-100 {
  min-height: 100vh;
}

.section-80 {
  min-height: 80vh;
}

.section-50 {
  min-height: 50vh;
}

.section-25 {
  min-height: 25vh;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.font-monotype {
  font-family: "David Libre", serif ;
}

.font-typeface {
  font-family: "Open Sans", sans-serif ;
}

.bg-traditional-dark {
  background-color: black;
}

.bg-transparent-50 {
  background-opacity: 50%;
}

.form-control-main {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  border: none;
}

.border-focus-warning:focus {
  border: solid 1px;
  border-color: rgba(var(--bs-warning-rgb), var(--bs-text-opacity)) ;
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-warning-rgb), 0.25);
}

/* Medium Screen Query */
@media screen and (min-width: 768px) {
  .section-md-0 {
    min-height: unset;
  }
}

/* Large Screen Query */
@media screen and (min-width: 1200px) {
  .px-xl-5 {
    padding-left: 6rem ;
    padding-right: 6rem ;
  }
}

.btn-main {
  padding: 1em 5em;
}

.btn-main-secondary {
  padding: 1em 3em;
}